# Python
.venv
__pycache__
*.pyc

# Env
.env
backend/.env
frontend/.env
# ML model
backend/exercise_model/*.pkl


# Node
node_modules
dist

# Logs
*.log

# OS & Editor
.vscode
.idea
.DS_Store